/* Verizon Logo */
aside{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0em;
}

hr.style1{
    border-top: 0.02px solid #959595;
   
}

/* Hero image */
.hero{
  width: 100%;
  max-width: 1200px;
  height: 500px;
  text-align: left;
  margin: auto;
  position: relative; 
  color: #fff;
  overflow: hidden;
}
  @font-face {
 font-family:"NeueHaasGroteskDispW02";
 src: url(../fonts/NeueHaasGroteskDispW02.eot); /* EOT file for IE */
}

@font-face {
 font-family:"NeueHassGroteskDispW02";
 src: url(../fonts/NeueHaasGroteskDispW02.ttf); /* TTF file for CSS3 browsers */
}

.hero{
 font-family:"NeueHaasGroteskDispW02";

}

/* Main Title in image: Welcome to Verizon's Design Studio; */
.hero h1{
  font-size: 3.1em;
  margin-left: 0.5em;
  text-align: left;
  position: absolute; 
  top: 100px;
  left: 0;
  right: 6em;
  bottom: 0;
  z-index: 1;
}

@font-face {
 font-family:"NeueHassGroteskDispW02";
 src: url(../fonts/NHaasGroteskDSW02-75Bd.eot); /* EOT file for IE */
}

@font-face {
 font-family:"NeueHassGroteskDispW02";
 src: url(../fonts/NHaasGroteskDSW02-75Bd.ttf); /* TTF file for CSS3 browsers */
}

.hero{
 font-family:"NeueHassGroteskDispW02";
}
/*Better Matters Text*/
.hero p{
  font-size: 1.5em;
  margin-left: 1em;
  position: absolute; 
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-family:"NeueHassGroteskDispW02";
}
.hero img{
  width: 100%;

}

/* Body */
body {
    background-color: white;
    font-family:"Helvetica";
    padding-left: 6em;
    padding-right: 6em;
}


/* Nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family:"NeueHassGroteskDispW02";
    src: url(../fonts/NHaasGroteskDSW02-75Bd.ttf); 
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to white on hover */
li a:hover {
    background-color: #fff;
}


/* mouse over link */
a:hover {
    color: #A80309;

}

h3 {
	text-align: left;
  font-family:"NeueHassGroteskDispW02";
  src: url(../fonts/NHaasGroteskDSW02-75Bd.ttf);
}

.pageFooter {
  font-family:"NeueHassGroteskDispW02";
  src: url(../fonts/NHaasGroteskDSW02-75Bd.ttf);
}

.leftCol {
    line-height: 70%;
}

.statement {
  font-family:"NeueHaasGroteskDispW02";
  src: url(../fonts/NeueHaasGroteskDispW02.eot);
}
.rightCol {
    line-height: 70%
}
.copyRight {
    text-align: center;
    font-size: 0.8em
}
